<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Armonía </title>
    <link rel="stylesheet" href="../../styles/Inicio.css">    
    <link rel="icon" href="../../assets/Armonía Logosinnum.jpg" type="imagex-icon">
</head>

   <style>
       body { background-color: white }
   </style>
   

<body>


  <div class=" Titule">
      <header> Armonía</header>
  </div>

  

  <div class="Toolbar">
        <div class="Logo">
            <img src="../../assets/Armonía Logosinnum.jpg" > 
        </div>

     

        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


    <nav class="nav">
        <ul class="list">

            <li class="list__item">
                <div class="list__button">
                    <img src="../../assets/home icon silhouette.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="#" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item">
                <div class="list__button">
                    <a href="#" class="nav__link">Servicios Gerontológicos</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../assets/camera_photography_icon.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="#" class="nav__link">Galeria</a>
                    <img src="../../assets/proximo.png"
                    width="20px"; 
                    height: 40px;
                    class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Habitaciones</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Actividades</a>
                    </li>
                </ul>

            </li>

            <li class="list__item">
                <div class="list__button">
                    <img src="../../assets/new message.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="#" class="nav__link">Contacto</a>
                </div>
            </li>

       

        <li class="list__item">
            <div class="list__button">
                <img src="../../assets/customer_man_user_account_profile_icon.svg"
                width="20px"; 
                height: 40px;
                class="list__img">
                <a href="SobreNos.html" class="nav__link">Sobre Nosotros</a>
            </div>
          </li>

          <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="#" class="nav__link">Redes Sociales</a>
                <img src="../../assets/proximo.png"
                width="20px"; 
                height: 40px;
                class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="https://www.facebook.com/armonia.holepam" class="nav__link nav__link--inside">Facebook</a>
                </li>
         </ul>
    </nav>

   
    <section class="form_wrap">

        <section class="cantact_info">
            <section class="info_title">
                <span class="fa fa-user-circle"></span>
                <h2>INFORMACION<br>DE CONTACTO</h2>
            </section>
            <section class="info_items">
                <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                <p><span class="fa fa-envelope"></span> info.contact@gmail.com</p>
                <p><span class="fa fa-mobile"></span> +54(3471) 902-8665</p>
                <p><span class="fa fa-mobile"></span> +54(3471) 902-8665</p>
            </section>
        </section>

        <form action="" class="form_contact">
            <h2>Envia un mensaje</h2>
            <div class="user_info">
                <label for="names">Nombre *</label>
                <input type="text" id="names">

                <label for="names"> Apellido *</label>
                <input type="text" id=" Apellido">

                <label for="phone">Telefono / Celular</label>
                <input type="text" id="phone">

                <label for="email">Correo electronico *</label>
                <input type="text" id="email">

                <label for="mensaje">Mensaje *</label>
                <textarea id="mensaje"></textarea>

                <input type="button" value="Enviar Mensaje" id="btnSend">
            </div>
        </form>

    </section>

</body>




<script src="main.js"></script>



    
</body>
</html>