<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  Armonía </title>
    <link rel="stylesheet" href="../../styles/Inicio.css">    
    <link rel="icon" href="../../assets/Armonía Logosinnum.jpg" type="imagex-icon">
</head>

   <style>
       body { background-color: white }
   </style>
   

<body>


  <div class=" Titule">
      <header> Armonía</header>
  </div>

  <br><br>

  <div class= "Subtitle">
    <header> Cañada De Gomez-Santa fe</header>
  </div>

  

  <div class="Toolbar">
        <div class="Logo">
            <img src="../../assets/Armonía Logosinnum.jpg" > 
        </div>

     

        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>


    <nav class="nav">
        <ul class="list">

            <li class="list__item">
                <div class="list__button">
                    <img src="../../assets/home icon silhouette.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="Inicio.html" class="nav__link">Inicio</a>
                </div>
            </li>

            <li class="list__item">
                <div class="list__button">
                    <a href="Servicios.html" class="nav__link">Servicios Gerontológicos</a>
                </div>
            </li>

            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="../../assets/camera_photography_icon.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="Fotos.html" class="nav__link">Galeria</a>
                    <img src="../../assets/proximo.png"
                    width="20px"; 
                    height: 40px;
                    class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="Habitaciones.html" class="nav__link nav__link--inside">Habitaciones</a>
                    </li>

                    <li class="list__inside">
                        <a href="#" class="nav__link nav__link--inside">Actividades</a>
                    </li>
                </ul>

            </li>

            <li class="list__item">
                <div class="list__button">
                    <img src="../../assets/new message.svg"
                    width="20px"; 
                    height: 40px;
                    class="list__img">
                    <a href="./../Formulario de Contacto/formulario.html" class="nav__link">Contacto</a>
                </div>
            </li>

       

        <li class="list__item">
            <div class="list__button">
                <img src="../../assets/customer_man_user_account_profile_icon.svg"
                width="20px"; 
                height: 40px;
                class="list__img">
                <a href="SobreNos.html" class="nav__link">Sobre Nosotros</a>
            </div>
          </li>

          <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="#" class="nav__link">Redes Sociales</a>
                <img src="../../assets/proximo.png"
                width="20px"; 
                height: 40px;
                class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="https://www.facebook.com/armonia.holepam" class="nav__link nav__link--inside">Facebook</a>
                </li>
         </ul>
    </nav>


    <script src="main.js"></script>


    
</body>
</html>